{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/about.css' %}">
</head>
    <div class="about-section">
        <h1 style="color:white;">Make travel plans as an expert</h1>
        <h4 style="color:white;">Imagine this scenario: </h2>
        <p>
             You've got the travel bug, and you're eager to explore new places. You turn to Google for recommendations, only to be bombarded with generic tourist hotspots that lack the authenticity you crave. It's frustrating, isn't it?
        </p>
        <p>
            And when you consider travel agencies, they're increasingly pushing expensive pre-packaged tours and cruises. 
        </p>
        <p>
            But here's the real issue: With the world at your fingertips, it's difficult to separate the hidden gems from the tourist traps. You want travel advice you can trust—suggestions that are tailored to your interests and come from reliable sources.
        </p>
        <p>
            That's where Horizon comes in. We're here to solve these problems by connecting you with your friends' travel experiences, allowing you to explore the world through their eyes and discover the real, unique, and personalized adventures you've been searching for. 

        </p>

      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://media.licdn.com/dms/image/C4E03AQHDCFsEqfIqRg/profile-displayphoto-shrink_800_800/0/1662389825571?e=1700697600&v=beta&t=bgyOwNaMG6ueNBNKAG1iDkEQiYkqOywpgPcxc_0iPn4" alt="Anna Udassi" style="width:100%">
            <div class="container">
              <h2>Anmol (Anna) Udassi</h2>
              <p class="title">Designer</p>
              <p>logo design</p>
              <p>udassia25@mail.wlu.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://media.licdn.com/dms/image/D4D35AQGUaMzYE2vrBA/profile-framedphoto-shrink_800_800/0/1692865739454?e=1695517200&v=beta&t=EtjIlMAQSjAnEFX35kN6Foe5vX04CLV8dEY5uP9nCrk">
            <div class="container">
              <h2>Michael Kharadze</h2>
              <p class="title">Coder</p>
              <p>build structure</p>
              <p>mkharadze@mail.wlu.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://media.licdn.com/dms/image/D4E03AQHDOSLCYR7RPA/profile-displayphoto-shrink_800_800/0/1665624082442?e=1700697600&v=beta&t=WsuyTOKv-YWONRdzSUCBSJqb8mkQ_spnmhDEogDB1tM">
            <div class="container">
              <h2>James Xia</h2>
              <p class="title">web "gardener"</p>
              <p>implement decoration design</p>
              <p>jxia@mail.wlu.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      
{% endblock content %}
